# Introduction To Python

## Questions

**What is a programming language?**

Programming language is used to communicate with the computer

**What is an IDE?**

IDE stands for interactive development environment.It provides an environment to develop programs

**What IDE we are using?**

We are using jupyter notebook

**What is a compiler and interpriter?**

A compiler is a translator which translate the whole program at once and a interpriter is a translator which translate one line of code at once

## My first code

In [1]:
print("Hello World")

Hello World

# Different types of Data type

**What are data types?**

Data types are the catagories of knowledge

**What is knowledge?**

Data input to the computer is knowledge for it.And it divides it into different catagories

**Name the Data type in Python?**

Int,Float

Str

List,tuple

dict

bool

# Shortcut Keys

. **Shortcut for Markdown is esc+m**

. **Shortcut for Code is esc+y**

.**Shortcut for finding specific code**

# ARITHEMETIC OPERATIONS

In [2]:
# SUM
2+2

4

In [3]:
# SUBTRACTION
4-2

2

In [4]:
# Multiplication
2*2

4

In [5]:
# Divisions
4/2

2.0

In [6]:
# Floor Division
13//2

6

In [7]:
# REMAINDER
13%2

1

In [8]:
# EXPONENT
5**2

25

## COMMENTS

In [9]:
#hash is used to add comments
# but it wont add multiple peras of comment if you want to add multiples
"""
you need to use three comas
this way you can add multiple lines of comments 
these are also used to docstring in function
"""

'\nyou need to use three comas\nthis way you can add multiple lines of comments \nthese are also used to docstring in function\n'

## VARIABLES

In [10]:
student_name="Hadi"

**=** is assignment operator

In [11]:
student_name

'Hadi'

**What is a Student name?**

Student name is a variable pointing towards hadi

## FUNCTION

Function is a code that execute a specific task and does it well|

## PRINT FUNCTION

Now we are going to use print function to print multiple variables at a time

In [12]:
print("Hello World")

Hello World

In [86]:
# Initating variables
student_name="hadi"
age="14"
year="2008"
# print the variable together
print(student_name,age,year)

hadi 14 2008

print is a function and input to it are argument

# Using Sep Argument

In [88]:
print(student_name,age,sep=" age is ")

hadi age is 14

## USING END ARGUEMENT

In [15]:
# Without end arguement
print(student_name)
print(age)
print(year)

hadi
14
2008

In [90]:
# with end arguement
print(student_name,end="------ ")
print(age,end="----------")
print(year)

hadi------ 14----------2008

# Help()

In [17]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [18]:
def sum_1(a,b):
    """
    It takes two numbers and return their sum
    
    """
    return(a+b)

In [19]:
?sum_1

# Time magic function

In [20]:
%time
print("Hellooo")

CPU times: total: 0 ns
Wall time: 0 ns
Hellooo

In [21]:
# %time for i in range(1000): print("bla bla")

# VARIABLES

In [22]:
student_name="hadi"

## Checking the memory location/id

In [23]:
id(student_name)

2020739033520

In [24]:
student="hadi"

In [25]:
id(student)

2020739033520

In [26]:
sjh="hadi"

In [27]:
id(sjh)

2020739033520

## Using Del Function

In [28]:
del(sjh)

In [29]:
#sjh

# Numbers

## Complex numbers

**Complex numbers have real and imaginary parts**

In [30]:
# Initializing variables
a = 1
b = 2.3
c = True
d = complex(2,3)
d = 2+3j

## Type functions

In [31]:
type(a)

int

In [32]:
type(b)

float

In [33]:
type(c),type(d)

(bool, complex)

In [34]:
print(type(a),type(b),type(c),type(d), sep=" -- ")

<class 'int'> -- <class 'float'> -- <class 'bool'> -- <class 'complex'>

# Operators

![](s.png)

## 1) = "Assignment operator"

**It is used to assign a value to a variable**

In [35]:
hadi ="hadi"

**here assign operator is used to assign a string "hadi" to "hadi"**

## Logical operator

**These operators are used to ,ale decisions based on logic**

### 1) Greater Than>

In [36]:
a = 5 
b = 3

In [37]:
a>b

True

In [38]:
b>a

False

### 2) Less Than<

In [39]:
raheem = 20
ali = 10

In [40]:
print(f"Ali is older than Raheem: {raheem<ali}")

Ali is older than Raheem: False

**Above is the way of printing formaled string**

### 3)Greater than or equal to>=

**greater than or equal to is evaluated true either if both are equal or one is greater than other**

In [41]:
# Condition 1
raheem = 20
ali = 20
print(f"Condition 1 : {raheem >= ali}")

# Condition 2
raheem = 20
ali = 10
print(f"Condition 2 : {raheem>= ali}")

# Condition 3
ali = 20
raheem = 10
print(f"Condition 3 : {raheem>= ali}")

Condition 1 : True
Condition 2 : True
Condition 3 : False

### Less than equal to<=

In [42]:
# Condition 1
raheem = 20
ali = 20
print(f"Condition 1 : {raheem <= ali}")

# Condition 2
raheen = 20
ali = 10
print(f"Condition 2 : {raheem<= ali}")

# Condition 3
ali = 20
raheem = 10
print(f"condition 3 : {raheem<= ali}")

Condition 1 : True
Condition 2 : False
condition 3 : True

### Not equal !=

In [43]:
Raheem = 20
Ali = 10

print(f" Ali and Raheem ages are not equal : {Raheem != Ali}")

 Ali and Raheem ages are not equal : True

# Exercise

In [44]:
# Initiate two variables named Ali and Ajmal
Ali = 20
Ajmal = 30

# Compare Both Variables to check whose age is greater
print(f"Ali is smaller than Ajmal : {Ali<= Ajmal}")

# The greater one should be multiplied by 2 and printed
print(f"The greter one will be multiplied by 2 : {Ajmal* 2}")

Ali is smaller than Ajmal : True
The greter one will be multiplied by 2 : 60

### OR Logic operator

In [45]:
# Prints True if both the condition are met
ali = 10
hashim = 10

print (f"Statement evaluates to : {ali==hashim or ali==hashim}")

# Condition 2
print(f"Statement evaluates to : {ali==hashim or ali != hashim}")

Statement evaluates to : True
Statement evaluates to : True

### AND logical operator

In [46]:
ali = 10
hashim = 10
# Condition 1
print(f"Statement evaluates to : {ali == hashim and ali == hashim}")

# Condition 2 
print(f"Statement evaluates to : {ali == hashim and ali != hashim}")

Statement evaluates to : True
Statement evaluates to : False

### Not logical Operatoe

In [47]:
ali = 10
hashim = 10
# Condition 1
print (f"Statement evaluate to : {not (hashim != ali)}")
print(f"Statement evaluate to : {not (hashim == ali)}")

Statement evaluate to : True
Statement evaluate to : False

# String

**What is string?**

**String is a collection of characters**

In [48]:
# Initiate a variable with string as input

Ali = "Hi my name is Ali"

print(f" Data type : {type(Ali)} \n Numbers of Characters : {len(Ali)}")

 Data type : <class 'str'>
 Numbers of Characters : 17

In [49]:
# String Indexing

position = 5
print(f"Character at Position \" position \" is :{Ali[position]}")

Character at Position " position " is :

In [50]:
# Initiate a variable string as input 

Ahmad = "Hi my name is Ahmad"

print(f"Data type : {type(Ahmad)} \n Numbers of Character : {len(Ahmad)}")

# String Indexing

position = 6
print(f"Character at Position \" position\" is : {Ahmad[position]}")

Data type : <class 'str'>
 Numbers of Character : 19
Character at Position " position" is : n

# LOOPS

## For Loop

In [92]:
st="Hi get me a burger"
for i in st:
    print(i,end="--")

H--i-- --g--e--t-- --m--e-- --a-- --b--u--r--g--e--r--

In [52]:
# Exercise

In [53]:
# Hey there you are a programmer at the natipna; investigations and you got a sipher


sipher = "75jxc5x1x2kh75h"
decripter = {"7":"G",
            "5":"E",
            "j":"T",
            "x":" ",
            "c":"M",
            "1":"A",
            "2":"B",
            "k":"U",
            "h":"R"}

decripted_message=[]
for i in sipher:
    decripted_message.append(decripter[i])

In [54]:
decripted_message

['G', 'E', 'T', ' ', 'M', 'E', ' ', 'A', ' ', 'B', 'U', 'R', 'G', 'E', 'R']

# EXERCISE

In [55]:
# You have a string 
str="I am Abdul Hadi.I am a data_scientist"
# code for a loop that iter through the string above and append it to sparser 
sparser=[]
for i in str:
    sparser.append(i)

In [93]:
print(sparser)

['I', ' ', 'a', 'm', ' ', 'A', 'b', 'd', 'u', 'l', ' ', 'H', 'a', 'd', 'i', '.', 'I', ' ', 'a', 'm', ' ', 'a', ' ', 'd', 'a', 't', 'a', '_', 's', 'c', 'i', 'e', 'n', 't', 'i', 's', 't']

# initating a string

In [94]:
str_1="hadi is a goods boy"

###  slicing "good" out of the string 
"""
we have to find the starting and ending position of good and the slice it out 

g is at position 11
and last character "d" is at position 14

the slice will be as follow 

str_1[11-1:14]
remember we have to subtract 1 in the position of first  character or else it won't print the first character 
"""

In [95]:
str_1[10:14]

'good'

# Exercise

In [59]:
# slice out hadi from the string above 
str_1[0:4]

'hadi'

In [96]:
 # initiate a string
str_1="hola soy hadi"

#len()
a=len(str_1)

#lower
b=str_1.lower()

#upper()
c=str_1.upper()

#capitalize()
d=str_1.capitalize()

#strip() : it removes spaces on the right and the left side of the string  
e=str_1.strip()

# split()
f=str_1.split(sep=" ")

#replace()
g=str_1.replace("hola","hello")







print(a,b,c,d,e,f,g,sep="--")

13--hola soy hadi--HOLA SOY HADI--Hola soy hadi--hola soy hadi--['hola', 'soy', 'hadi']--hello soy hadi

# using in to find character in a string

In [61]:
"h" in str_1

True

 it return true if h is present in the string str_1

# List

list is a collection of data enclosed in square brckets [1,"hadi","@",2]

# initiating a list

In [62]:
list_1=[1,"hadi","@",2]

# accessing elements in a list

In [63]:
print(f"First: {list_1[0]},second:{list_1[1]}")

First: 1,second:hadi

In [64]:
# list in list


list_2=[1,2,list_1]

In [65]:
print(list_2)

[1, 2, [1, 'hadi', '@', 2]]

In [97]:
## accessing element in a list within list

In [98]:
list_2[2][0]

TypeError: 'int' object is not subscriptable

# exercise

In [ ]:
# print the last element of list_1 in list_2 using indexing 

"""code here """

In [99]:
list_1=[1,2,3,"salim","hadi"]

In [100]:
# Append function in list 
list_1.append(0)
print (list_1)

[1, 2, 3, 'salim', 'hadi', 0]

append function is used to add an element to end of a list 
Function : function is a tool that is used to do something here append function is used to add something in a list

In [101]:
# clear function
list_1.clear()

clear function clears all elements in a list

In [102]:
list_1

[]

# Shallow copy

In [103]:
# initiating list_1 again as all the elements are clear 
list_1=[1,2,3,"salim","hadi"]

In [74]:
# copy function 
list_2=list_1.copy()

In [75]:
print(list_2)

[1, 2, 3, 'salim', 'hadi']

In [76]:
print(list_1)

[1, 2, 3, 'salim', 'hadi']

In [77]:
list_2.append(0)

In [104]:
print(list_2),(list_1)

[1, 2, 3, 'salim', 'hadi', 0]

(None, [1, 2, 3, 'salim', 'hadi'])

# Deep copy

It creates shallow copy of the list

In [105]:
list_3=list_1
print(list_3)

[1, 2, 3, 'salim', 'hadi']

In [106]:
print(list_1)

[1, 2, 3, 'salim', 'hadi']

In [107]:
list_3.append(0)
print(list_3)

[1, 2, 3, 'salim', 'hadi', 0]

In [108]:
print(list_1)

[1, 2, 3, 'salim', 'hadi', 0]

woww this is called deep copy

In [109]:
# count function 
list_1.count(2)

1

It will count how many times the arguemwnt occur 
arguement :the input given to function is called an arguement

In [112]:
list_4=[1,2,3,2,1]
list_4.count(2)

2

# Append function

In [114]:
list_1=["1,3,4,6,@,$,$,%"]
list_1.append (0)
print(list_1)

['1,3,4,6,@,$,$,%', 0]

append function is used to add an elements to end of a list

# clear function

it clear all lines of code

In [116]:
# clear function
print(list_1.clear())

None

# dictionaries

are dictionaries mutable or nor?
it is a colletion of data such that values are store in corresponding keys in carlie brackets

"dictionaries are mutuable whereas stings are not (means we can modify the elements)"

In [130]:
# dictionaries 
dict_1={
    "ali":2*3,
    "basit":0,
    "salim":1000,
    "hadi":"u"
}

In [131]:
dict_1["ali"]

6

In [132]:
dict_1["basit"]

0

In [133]:
dict_1["salim"]

1000

In [134]:
dict_1["hadi"]

'u'

In [135]:
dict_1["ali"]*dict_1["salim"]

6000

In [136]:
dict_1["ali"]/dict_1["salim"]

0.006

In [137]:
dict_1["ali"]//dict_1["salim"]

0

In [138]:
dict_1["ali"]**dict_1["salim"]

14166102623834861723796252524915224416640471830910191322323547432140618947596486436347661333869287260068907949302029484915942402681211620694598046617844295512220793103312980549591537160959053027940624117598003417503015722697428176155600362263128567590299511776686592862074376328232990325101248680123776914576482815095784568122986221890411837737570098864613342090972756469661488216176894465388028416768338495326989675118087222767384596111351304957869025273802978281783731929966468210579229830069556698928937342508988340792335737744719376598506908977135291983117722648269177947154657697517074993441515526839887073400191797445153760221695723268255006134044062503100710134200414607696976757837002911389023284338696251543694980946202137938610119300450795091488653253649628649410789376

In [139]:
dict_1["ali"]%dict_1["salim"]

6

In [140]:
print(dict_1["ali"])

6

# project_1
we got an excel file from our client named abdul hadi
subject wanted a python script that returns the requested records from the excel file 

** what we will be doing ** 
1) making sure that book1.xlms files is present int the directory that contain our intro to pythin notebook 
2) we will load in the data using pandas data frame 
3) we will analyze the  data
4) we will code to fetch the specific records 
5) we will export the results to result.xlms file for the client 
:) lets code

# importing the required libraries

In [2]:
import pandas as pd #importing pandas library with the substitute name pd 
import numpy as np #importing numpy library with the  substitude name np

In [4]:
x=pd.read_excel("book1.xlsx")

In [13]:
class car():
    def __init__(self,carmodel,carcolour,price):
        self.carmodel=carmodel
        self.carcolour=carcolour 
        self.price=price

In [14]:
car1=car("corolla","black",200000)

In [16]:
car1.carmodel

'corolla'